@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    BridgingIT GmbH<br />
    Marienstr. 17<br />
    70178 Stuttgart<br />
    <a href="https://www.bridging-it.de">https://wwww.bridging-it.de</a>
</address>


